<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="robot_foot" params="leg">

    <link name="${leg}_foot_link" />

    <joint name="${leg}_ankle_joint" type="fixed">
      <parent link="${leg}_shank_link"/>
      <child link="${leg}_foot_link"/>
      <origin xyz="0 0 -0.3" rpy="0 0 0" />
      <!-- <sensor name="force_torque_${leg}" type="force_torque">
          <always_on>true</always_on>
          <topic>ft</topic>
          <update_rate>30</update_rate>
          <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
          <topicName>ft</topicName>
          <bodyName>${leg}_foot_link</bodyName>
          <updateRateHZ>10.0</updateRateHZ>
          <gaussianNoise>0.0</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <frameName>ft_link</frameName>
          <initialOrientationAsReference>false</initialOrientationAsReference>
          <ros>
              <remapping>/ft_sensor/out:=ft_${leg}</remapping>
          </ros>
          <output_type>geometry_msgs/WrenchStamped</output_type>
      </sensor> -->
    </joint>

    <gazebo reference="${leg}_foot_link">
      <gravity>true</gravity>
      <sensor name="force_torque_${leg}" type="force_torque">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>ft</topic>
      <plugin filename="libgazebo_ros_ft_sensor.so" name="ft_plugin">
          <topicName>ft</topicName>
          <bodyName>${leg}_foot_link</bodyName>
          <updateRateHZ>10.0</updateRateHZ>
          <gaussianNoise>0.0</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <frameName>ft_link</frameName>
          <initialOrientationAsReference>false</initialOrientationAsReference>
          <ros>
              <remapping>/ft_plugin/out:=ft_${leg}</remapping>
          </ros>
          <output_type>geometry_msgs/WrenchStamped</output_type>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>

    </xacro:macro>

</robot>
