<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="description">

        <!-- Including data and leg macro -->
        <xacro:include filename="$(find mulev3_description)/xacro/const.xacro"/>
        <xacro:include filename="$(find mulev3_description)/xacro/leg.xacro"/>

        <xacro:arg name="debug" default="false"/>

        <!-- if debug is true, a world link is created and a fixed joint is created between the world and the base_link -->
        <xacro:if value="$(arg debug)">
            <link name="world">
            </link>

            <joint name="fixed_world" type="fixed">
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <parent link="world"/>
                <child link="base_link"/>
            </joint>
        </xacro:if>

        <!-- base_link -->
        <link name="base_link">
            <inertial>
                <origin 
                    xyz="${base_link_com_x} ${base_link_com_y} ${base_link_com_z}"
                    rpy="0 0 0"/>
                <mass value="${base_link_mass}"/>
                <inertia
                    ixx="${base_link_inertia_ixx}"
                    ixy="${base_link_inertia_ixy}"
                    ixz="${base_link_inertia_ixz}"
                    iyy="${base_link_inertia_iyy}"
                    iyz="${base_link_inertia_iyz}"
                    izz="${base_link_inertia_izz}"/>
            </inertial>
            <visual>
                <origin
                    xyz="0 0 0"
                    rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${base_link_STL}"/>
                </geometry>
                <material name="">
                    <color rgba="0.52941 0.54902 0.54902 1" />
                </material>
            </visual>
            <collision>
                <origin
                    xyz="0 0 0"
                    rpy="0 0 0" />
                <geometry>
                    <mesh filename="${base_link_STL}" />
                </geometry>
            </collision>
        </link>

        <!-- legs -->
        <xacro:leg name="fl" mirror="1" mirror_stl="False" front_back="1" front_back_stl="True"/>
        <xacro:leg name="fr" mirror="-1" mirror_stl="True" front_back="1" front_back_stl="True"/>
        <xacro:leg name="bl" mirror="1" mirror_stl="False" front_back="-1" front_back_stl="False"/>
        <xacro:leg name="br" mirror="-1" mirror_stl="True" front_back="-1" front_back_stl="False"/>

    </xacro:macro>

</robot>
